<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>IT WAS ME PIKACHU DA</title>
<script type="text/javascript" src="./static/click.js"></script>
<style type="text/css">
body {
	background-image: url(../static/QQ图片20180918182934.jpg);
}
</style>
</head>

<body>
<div class="button">
    <form method="get" action="http://small-brother.cn/pikachu/">
        <img src="../static/photo/{{img}}">
        <br>
    </form>
    <a href="http://small-brother.cn"><input type="submit" name="submit" id="submit" value="返回"></a>
</div>
</body>
</html>
