<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./static/style.css">
    <title>IT WAS ME PIKACHU DA!</title>
    <script type="text/javascript" src="./static/click.js"></script>
    <style type="text/css">
    body {
        background-size: cover;
        background-image: url(../static/1118951029_14645232162781n.jpg);
    }
</style>
</head>

<body>
  <div style="position: absolute;text-align: center;top: 20%;left: 30%;">
    <form method="post" action="http://small-brother.cn/pikachu"enctype="multipart/form-data">
      <input type="file" size="30" name="file" style="border-radius: 5mm"/>
      <br>
      <input type="submit" value="Upload"  style="height:100px;width:100px;margin-top: 20px;color: blueviolet;border-radius: 5mm;"/>
    </form>
  </div>

</body>
</html>
